/*
----------------------------------------------------------------------------------------
kftg_ogd (https://github.com/Boostvolt/kftg_ogd)

Date           Who           What
11.05.2020     Ivan & Jan    created

(c) by Ivan & Jan
    ----------------------------------------------------------------------------------------
*/

.background {
    pointer-events: all;
    fill: none;
}

.block {
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.tooltip {
    position: absolute;
    padding: 10px;
    border-radius: 8px;
    background: white;
    text-align: center;
    font: 12px sans-serif;
    pointer-events: none;
}

#border {
    fill: none;
    stroke: #fff;
    stroke-linejoin: round;
    stroke-linecap: round;
}

#map {
    padding: 50px;
}

#graph {
    width: 100%;
    height: 500px;
}

#lakes {
    fill: cornflowerblue;
}

#municipalities {
    box-shadow: 1px 1px 1px #bbb;
    fill: #e3e3e3;
}

#municipalities :hover {
    fill: #c7c7c7;
}

#municipalities .active {
    border: 1px solid;
    fill: #16A74E;
}

#muniText {
    position: absolute;
    padding: 2px;
    border: 0;
    border-radius: 8px;
    background: lightsteelblue;
    text-align: center;
    font: 12px sans-serif;
    opacity: 0;
    pointer-events: none;
}

